// _variables.scss

// font
$font-family-sans-serif:-apple-system,'Helvetica Neue','Apple SD Gothic Neo',NanumBarunGothic,sans-serif;
$font-family-helvetica:'Helvetica Reguler';

// layout
$iPhone6-size: 375px;
$iPad-size: 768px;
$width-max-size: 1024px;

// color
$naver-color: #00c73c;
$primary-color: #57a0f6;
$background-color: #e6e7e8;
$text-color: blue;
